@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
            <NavLink href="account/logout" class="nav-item nav-link">Logout</NavLink>
        </div>
    </nav>
}

<div style="height: calc(100vh - 56px);">
    <div style="display: flex; height: 100%">
        <div style="position: absolute;z-index: 100;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);">
            <Alert />
        </div>
        @Body
    </div>
</div>

@code {
    public bool LoggedIn 
    {
        get { return AccountService.User != null; }
    }
}